.display {
  font-size: var(--f-display);
  line-height: var(--f-display-lh);
}

h1 {
  font-size: var(--h-f-xl);
  line-height: var(--h-lh-xl);
}
h2 {
  font-size: var(--sh-f-xl);
  line-height: var(--sh-lh-xl);
}
h3 {
  font-size: var(--h-f-l);
  line-height: var(--h-lh-l);
}

h4 {
  font-size: var(--sh-f-l);
  line-height: var(--sh-lh-l);
}

h5 {
  font-size: var(--h-f-m);
  line-height: var(--h-lh-m);
}

h6 {
  font-size: var(--sh-f-l);
  line-height: var(--sh-lh-l);
}

.linkOne {
  font-size: var(--link-f-one);
  line-height: var(--link-lh-one);
  letter-spacing: var(--link-ls-one);
}

.linkTwo {
  font-size: var(--link-f-two);
  line-height: var(--link-lh-two);
  letter-spacing: var(--link-ls-two);
  color: var(--c-darkGray);
}

.link {
  text-transform: uppercase;
  font-size: clamp(var(--link-f-two), 0.614rem + 0.763vw, var(--link-f-one));
  line-height: var(--link-lh-one);
  letter-spacing: clamp(
    var(--link-ls-two),
    0.152rem + 0.127vw,
    var(--link-ls-one)
  );
  color: var(--c-darkGray);

  &:hover,
  &:focus-visible {
    //focus-visible - tylko dla klawiatura/tabulatora focus
    color: var(--c-black);
  }
}

.linkSource {
  @extend .linkTwo;
  text-transform: uppercase;

  &:hover,
  &:focus-visible {
    //focus-visible - tylko dla klawiatura/tabulatora focus
    color: var(--c-black);
  }
}
