@use "./base/resolutions.scss" as *;
@use "./base/typography.scss" as *;
@use "./base/mixins.scss" as *;

.header {
  padding-block: 2.4rem;
  border-bottom: 1px solid var(--c-gray);

  @include tablet {
    padding-block: 2.9rem;
  }
  @include desktopSmall {
    padding-block: 4rem;
    @include wrapperDesktop;
  }
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include wrapper;

  @include desktopSmall {
    width: auto;
  }

  &__link {
    cursor: pointer;
    background-color: transparent;
    border: none;

    &:disabled {
      pointer-events: none;
      color: var(--c-darkGray);
      opacity: 50%;

      &:hover {
        color: var(--c-darkGray);
        opacity: 50%;
      }
    }
  }
}
