@use "./base/resolutions.scss" as *;
@use "./base/typography.scss" as *;
@use "./base/mixins.scss" as *;

.gallery-slide-container {
  padding-top: 2.4rem;

  @include tablet {
    padding-top: 4rem;
  }
}

.gallery-slide-artwork-container {
  @include desktopSmall {
    display: flex;
    padding-top: 10rem;
  }
}

.gallery-slide-artwork-image-container {
  @include tablet {
    display: flex;
    gap: 3rem;
    height: 56rem;
  }
}

.gallery-slide-image-container {
  display: flex;
  flex-direction: column;

  @include tablet {
    position: relative;
    width: 47.5rem;
  }
  &__artwork {
    z-index: -1;
  }

  &__artist {
    margin-left: 1.6rem;
    @include tablet {
      width: 12.8rem;
      height: 12.8rem;
      opacity: 0;
    }
    @include desktopSmall {
      align-self: flex-end;
      opacity: 1;
      margin-left: 0;
      margin-bottom: -6rem;
    }
  }
}

.gallery-slide-view-image-container {
  position: absolute;
  margin: 1.6rem;

  @include tablet {
    bottom: 0;
  }

  &__button {
    display: flex;
    align-items: center;
    padding: 1.4rem 1.6rem;
    font-size: 1rem;
    letter-spacing: 0.214rem;
    line-height: normal;
    background-color: rgba(var(--c-black-rgba), 0.75);
    color: var(--c-white);
    border: none;
    cursor: pointer;
    text-transform: uppercase;

    &:hover,
    &:focus-visible {
      background-color: rgba(var(--c-white-rgba), 0.25);
    }

    &::before {
      content: "";
      display: inline-block;
      width: 1.2rem;
      height: 1.2rem;
      margin-right: 1.4rem;
      background-image: url("../assets//images/icon-view-image.svg");
      background-repeat: no-repeat;
    }
  }
}

.gallery-slide-artwork-name-container {
  width: 83%;
  margin-top: -5.4rem;
  margin-left: -0.2%;
  padding: 2.4rem;
  background-color: var(--c-white);

  @include tablet {
    position: absolute;
    right: -38%;
    padding-left: 6.5rem;
    padding-top: 0;
    padding-bottom: 6.7rem;
    margin-top: -0.1%;
    margin-left: 0;
  }

  @include desktopSmall {
    right: 0;
    left: clamp(26.5rem, -10.5rem + 33.333vw, 37.5rem);
  }

  &__name {
    margin-bottom: 0.8rem;

    @include tablet {
      margin-bottom: 2.4rem;
      font-size: var(--h-f-xl);
      line-height: var(--h-lh-xl);
    }
  }
  &__artist {
    font-size: var(--sh-f-xl);
    line-height: var(--sh-lh-xl);
    color: var(--c-darkGray);
  }

  &__artist-image {
    position: absolute;
    margin-top: 6.7rem;
    right: 2.3rem;
    opacity: 0;

    @include tablet {
      opacity: 1;
    }
    @include desktopSmall {
      opacity: 0;
    }
  }
}

.gallery-slide-artwork-description-container {
  position: relative;
  margin-bottom: 6.7rem;

  @include tablet {
    margin-bottom: 5.3rem;
  }
  @include desktopSmall {
    z-index: 1;
    width: 35rem;
    margin-inline: auto;
  }
  &__year {
    position: absolute;
    top: -2rem;
    right: -1.5rem;
    z-index: -1;
    font-size: var(--f-display-l);
    line-height: var(--f-display-lh-l);
    color: var(--c-lightGray);

    @include tablet {
      top: 7rem;
      left: 0;
      font-size: var(--f-display-xl);
      line-height: var(--f-display-lh-xl);
    }

    @include desktopSmall {
      top: 0;
      left: -0.8rem;
      font-size: clamp(16rem, 2.545rem + 12.121vw, var(--f-display-xl));
    }
  }
  &__description {
    padding-top: 5.4rem;
    margin-bottom: 6.4rem;
    color: var(--c-darkGray);

    @include tablet {
      width: 67.8%;
      padding-top: 13.9rem;
      margin-inline: auto;
    }

    @include desktopSmall {
      padding-top: 11.5rem;
      width: auto;
    }
  }
  &__link-container {
    @include tablet {
      width: 67.8%;
      margin-inline: auto;
    }
    @include desktopSmall {
      width: auto;
    }
  }
  &__link {
    border-bottom: 1px solid var(--c-darkGray);
  }
}

.gallery-slide-slider-container {
  position: relative;
  padding-block: 2.5rem;
  border-top: 1px solid var(--c-gray);

  @include desktopSmall {
    margin-top: 13.9rem;
  }

  &__progress-bar {
    position: absolute;
    top: -1%;
    background-color: var(--c-black);
    height: 1px;
  }
}

.gallery-slide-slider-artwork-and-buttons-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.gallery-slide-slider-artwork-name-container {
  display: grid;
  line-height: normal;
  &__name {
    font-size: clamp(1.4rem, 1.018rem + 1.018vw, 1.8rem);
    margin-bottom: 0.8rem;
  }
  &__artist {
    font-size: clamp(1rem, 0.714rem + 0.763vw, 1.3rem);
    color: var(--c-darkGray);
  }
}

.gallery-slide-slider-buttons-container {
  display: flex;
  justify-content: end;
  gap: 4rem;

  &__button {
    cursor: pointer;
    background-color: transparent;
    border: none;

    img {
      &:hover,
      &:focus-visible {
        filter: brightness(0) saturate(100%) invert(70%) sepia(8%) saturate(11%)
          hue-rotate(12deg) brightness(95%) contrast(90%);
      }
    }
  }
}

.gallery-slider-error {
  @include absoluteCenter;
  text-align: center;

  h2 {
    margin-bottom: 2rem;
  }
}
